/*.table-no-border>thead>tr>th, 
.table-no-border>tbody>tr>th, 
.table-no-border>tfoot>tr>th, 
.table-no-border>thead>tr>td, 
.table-no-border>tbody>tr>td, 
.table-no-border>tfoot>tr>td {
  border-top: none; 
}*/

/*.table>tbody>tr>th, .table>tbody>tr>td {
    border-top: none !important;
    border-bottom: none !important;
}*/

/*#struggles_table .table tr,th {
    border-top: none;
    border-bottom: none;
}*/

body {
    font-size: 11pt;
}

#struggles_table .icon-cell {
    width: 25%;
    line-height: 40px;
}

#struggles_table .desc-cell {
    padding-top: 20px;
    width: 75%;
}


.icon {
    border: 1px solid black;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 100%;
    background-color: yellow;
}
/*
#test_col {
    width: 200px;
    height: 200px;
}*/

#user_header {
    text-align: right;
    margin-top: 10px;
    margin-right: 10px;
}

#error_box {
    background-color: #7f0707;
    color: #FFF;
    text-align: center;
    font-size: 1em;
    margin-top: 10px;
}

.right-align {
    text-align: right;
    float: right;
}

#logout_btn {
    margin-top: 10px;
}

.table > tbody > tr > td {
    vertical-align: middle;
}

.absolute-element {
    position: fixed;
    top: 0px;
    left: 0px;
}

.btn {
    margin: 5px 20px 5px 20px;
}

.btn-group {
    padding-left: 2px;
    padding-right: 2px;
}

.pending_partner {
    color: grey;
}

#viewer_container {
    margin-left: 10px;
}

@keyframes loadingAnimation {
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
}

#loading_screen {
    font-size: 1.5em;
    animation: loadingAnimation 1s infinite;
}