<!DOCTYPE html>
<html>
    <head>
        <!--
        Customize this policy to fit your own app's needs. For more guidance, see:
            https://github.com/apache/cordova-plugin-whitelist/blob/master/README.md#content-security-policy
        Some notes:
            * gap: is required only on iOS (when using UIWebView) and is needed for JS->native communication
            * https://ssl.gstatic.com is required only on Android and is needed for TalkBack to function properly
            * Disables use of inline scripts in order to mitigate risk of XSS vulnerabilities. To change this:
                * Enable inline JS: add 'unsafe-inline' to default-src
        -->
        <!-- <meta http-equiv="Content-Security-Policy" content="default-src &apos;self&apos; data: gap: https://ssl.gstatic.com &apos;unsafe-eval&apos;; style-src &apos;self&apos; &apos;unsafe-inline&apos;; media-src *; img-src &apos;self&apos; data: content:;"> -->
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">

        <!-- emulator ip -->
        <allow-navigation href="http://10.0.2.2*" />

        <!-- jmoey.com -->
        <allow-navigation href="http://jmoey.com/*" />
        

        <!-- library css -->
        <link rel="stylesheet" type="text/css" href="dist/bootstrap-3.3.7-dist/css/bootstrap.min.css">
        <!--<link rel="stylesheet" type="text/css" href="dist/jquery/css/jquery-1.5.0.mobile.min.css">-->
        <!-- -->

        <!-- app css -->
        <link rel="stylesheet" type="text/css" href="css/index.css">
        <!-- -->
        <title>Accountable2Christ</title>
    </head>
    <body class="container">
        <div id="login_screen">
            <div class="row">
                <div class="col-xs-12">
                    <h1>Login</h1>
                </div>
            </div>
            <form id="login_form" action="">
                <div class="row">
                    <div class="btn-group-justified" data-toggle="buttons">
                        <label class="btn btn-primary active" id="register_radio_lbl">
                            <input type="radio" name="register_login_radio" id="register_radio" autocomplete="off" checked> Registration
                        </label>
                        <label class="btn btn-primary" id="login_radio_lbl">
                            <input type="radio" name="register_login_radio" id="login_radio" autocomplete="off"> Login
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <input id="login_user" class="form-control" type="text" placeholder="peter@mail.com">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <input id="login_password" class="form-control" type="password" placeholder="******">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <input id="login_password_confirm" class="form-control" type="password" placeholder="******">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="btn-group-justified" role="group">
                            <div class="btn-group" role="group">
                                <input class="btn btn-primary" type="submit" value="LOGIN">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div id="main_screen" class="hidden">
            <div class="row">
                <p id="user_header"></p>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h2>I am struggling with...</h2>
                </div>
            </div>

            <div class="row" id="struggles_table">
                <div class="col-xs-12">
                    <p v-if="struggles.length == 0">No struggles added.</p>
                    <table class="table table-striped">
                        <thead>
                            <th class="icon-cell"></th>
                            <th class="desc-cell"></th>
                        </thead>
                        <tbody id="struggles_table_body">
                            <tr v-for="struggle in struggles" v-on:click="onClick(struggle.name)">
                                <td class="icon-cell" v-html="struggle.icon"></td>
                                <td class="desc-cell">{{ struggle.name }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="btn-group-justified" role="group">
                        <div class="btn-group" role="group">
                            <button class="btn" id="add_new_struggle_scn_btn">ADD</button>
                        </div>
                        <div class="btn-group" role="group">
                            <button class="btn" id="manage_struggles_scn_btn">MANAGE</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="btn-group-justified">
                        <div class="btn-group">
                            <button id="show_pages_screen_btn" class="btn">BIBLE VERSES</button>
                        </div>
                    </div>
                </div>
            </div>

            <div id="acc_partners_table">

                <div class="row">
                    <div class="col-xs-12">
                        <h2>I am helping...</h2>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <p v-if="partners.length == 0 && pending_partners.length == 0">No partners added.</p>
                        <table class="table table-striped">
                            <thead>
                                <th></th>
                                <!-- <th></th> -->
                            </thead>
                            <tbody>
                                <tr v-for="partner in partners" v-on:click="view(partner)">
                                    <td>{{ partner.other_partner }}</td>
                                    <!-- <td>joe@live.com</td>
                                    <td>Joe Bloggs</td> -->
                                </tr>
                                <tr v-for="partner in pending_partners" v-on:click="tryViewPending()">
                                    <td class="pending_partner">{{ partner.other_partner }} <span class="right-align">(pending)</span> </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                    <div class="col-xs-12">
                        <div class="btn-group-justified" role="group">
                            <div class="btn-group" role="group">
                                <button class="btn" id="add_new_acc_partner_scn">ADD</button>
                            </div>
                        </div>
                    </div>
                </div>

            <div id="waiting_partners_table">

                <div class="row">
                    <div class="col-xs-12">
                        <h2>Requests</h2>
                        <p v-if="waiting_partners.length == 0">No new requests.</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <table class="table table-striped">
                            <thead>
                                <th></th>
                                <th></th>
                            </thead>
                            <tbody>
                                <tr v-for="w_partner in waiting_partners">
                                    <td>{{ w_partner.other_partner}}</td>
                                    <td><button class="btn pull-right" type="button" v-on:click="confirm(w_partner.other_partner)">Confirm</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                
            </div> 

            <div class="row">
                <div class="col-xs-12">
                    <div class="btn-group-justified">
                        <div class="btn-group">
                            <button id="logout_btn" class="btn btn-default">LOGOUT</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="add_new_struggle_screen" class="hidden">
            <form action="" id="add_new_struggle_form">
                <div class="row">
                    <div class="col-xs-12">
                        <h1>Add new struggle...</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <input type="text" placeholder="e.g. addiction" class="form-control" id="new_struggle_name">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <textarea placeholder="This is worse for me when.." class="form-control" id="new_struggle_desc"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="btn-group-justified" role="group">
                            <div class="btn-group" role="group">
                                <input class="btn" type="submit" value="ADD" id="add_new_struggle_btn">
                            </div>
                             <div class="btn-group" role="group">
                                <button class="btn" type="button" id="cancel_add_new_struggle_btn">CANCEL</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div id="manage_struggles_screen" class="hidden">
            <div class="row">
                <div class="col-xs-12">
                    <h2>Delete struggle</h2>
                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Select...
                        <span class="caret"></span></button>
                        <ul class="dropdown-menu" id="manage_struggles_dropdown">
                            <li v-for="struggle in struggles" v-on:click="onClick(struggle.name)">
                                <ul>{{ struggle.name }}</ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="btn-group-justified">
                        <div class="btn-group">
                            <button class="btn" id="manage_struggles_back">BACK</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="add_accountability_partner_screen" class="hidden">
            <div class="row">
                <div class="col-xs-12">
                    <h2>Add accountability partner</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <form id="add_accountability_partner_form">
                        <input class="form-control" id="add_acc_partner_username" type="text" placeholder="John Smith">
                        <!-- <div class="btn-group-justified">
                            <div class="btn-group">
                            </div>
                        </div> -->
                       
                        <div class="btn-group-justified">
                            <div class="btn-group">
                                <input class="btn" type="submit" value="SEND REQUEST">                                
                            </div>
                            <div class="btn-group">
                                <button id="add_acc_partner_back" class="btn" type="button">CANCEL</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div id="send_struggle_screen" class="hidden">
            <div class="row">
                <div class="col-xs-12">
                    <h1>Sending struggle to accountability partner...</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <p>Are you sure?</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="btn-group-justified" role="group">
                        <div class="btn-group" role="group">
                            <button class="btn btn-danger" id="send-struggle-yes">YES</button>
                        </div>
                        <div class="btn-group" role="group">
                            <button class="btn btn-primary" id="send-struggle-no">NO</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="view_accountability_partner_screen" class="hidden">
            <div class="row">
                <div class="col-xs-12">
                    <h2 id="partner_name_heading">ACCOUNTABILITY PARTNER</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select struggle...
                        <span class="caret"></span></button>
                        <ul id="partner_struggles_menu" class="dropdown-menu">
                            <li v-for="struggle in struggles" v-on:click="plotChart(struggle)">
                                <a href="#">{{struggle}}</a>                                  
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <canvas id="struggle_freq_chart" width="240" height="240"></canvas>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h3 id="struggle_desc_header" class="hidden">Additional information</h3>
                    <p id="struggle_desc"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn" type="button" id="view_partner_back">Back</button>
                </div>
            </div>
        </div>

        <div id="view_pages_screen" class="hidden">
            <div class="row">
                <div class="col-xs-12">
                    <button type="button" class="absolute-element btn" id="viewer_back_btn">Back</button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2"></div>
                <div class="col-xs-8">
                    <div id="viewer_container"></div>
                </div>
                <div class="col-xs-2"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <p id="error_box"></p>
            </div>
        </div>

        <!-- library scripts -->
        <script type="text/javascript" src="cordova.js"></script>
        <script type="text/javascript" src="dist/jquery/js/jquery-1.11.1.min.js" id="cordova-jquery"></script>
        <!--<script type="text/javascript" src="dist/jquery/js/jquery-1.5.0.mobile.min.js"></script>-->
        <script type="text/javascript" src="dist/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="dist/vue-2.3.3/vue.js"></script>
        <script type="text/javascript" src="dist/chartjs-2.7.0/Chart.bundle.min.js"></script>
        <script type="text/javascript" src="dist/showdown-1.7.4/showdown.min.js"></script>

        <!-- -->
        <!-- app scripts -->
        <script type="text/javascript" src="js/api.js"></script>        
        <script type="text/javascript" src="js/struggle_list.js"></script>
        <script type="text/javascript" src="js/index.js"></script>
        <!-- -->
    </body>
</html>
