<!DOCTYPE html>
<html>
    <head>
        <!--
        Customize this policy to fit your own app's needs. For more guidance, see:
            https://github.com/apache/cordova-plugin-whitelist/blob/master/README.md#content-security-policy
        Some notes:
            * gap: is required only on iOS (when using UIWebView) and is needed for JS->native communication
            * https://ssl.gstatic.com is required only on Android and is needed for TalkBack to function properly
            * Disables use of inline scripts in order to mitigate risk of XSS vulnerabilities. To change this:
                * Enable inline JS: add 'unsafe-inline' to default-src
        -->
        <!-- <meta http-equiv="Content-Security-Policy" content="default-src &apos;self&apos; data: gap: https://ssl.gstatic.com &apos;unsafe-eval&apos;; style-src &apos;self&apos; &apos;unsafe-inline&apos;; media-src *; img-src &apos;self&apos; data: content:;"> -->
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">

        <!-- emulator ip -->
        <allow-navigation href="http://10.0.2.2*" />

        <!-- jmoey.com -->
        <allow-navigation href="http://jmoey.com/*" />
        

        <!-- library css -->
        <link rel="stylesheet" type="text/css" href="dist/bootstrap-3.3.7-dist/css/bootstrap.min.css">
        <!--<link rel="stylesheet" type="text/css" href="dist/jquery/css/jquery-1.5.0.mobile.min.css">-->
        <!-- -->

        <!-- app css -->
        <link rel="stylesheet" type="text/css" href="css/index.css">
        <!-- -->
        <title>Accountable2Christ</title>
    </head>
    <body class="container">
        <div id="login_screen">
            <div class="row">
                <div class="col-xs-12">
                    <h1>Login</h1>
                </div>
            </div>
            <form id="login_form" action="">
                <div class="row">
                    <div class="btn-group-justified" data-toggle="buttons">
                        <label class="btn btn-primary active" id="register_radio_lbl">
                            <input type="radio" name="register_login_radio" id="register_radio" autocomplete="off" checked> Registration
                        </label>
                        <label class="btn btn-primary" id="login_radio_lbl">
                            <input type="radio" name="register_login_radio" id="login_radio" autocomplete="off"> Login
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <input id="login_user" class="form-control" type="text" placeholder="peter@mail.com">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <input id="login_password" class="form-control" type="password" placeholder="******">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <input id="login_password_confirm" class="form-control" type="password" placeholder="******">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="btn-group-justified" role="group">
                            <div class="btn-group" role="group">
                                <input class="btn btn-primary" type="submit" value="LOGIN">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div id="main_screen" class="hidden">
            <div class="row">
                <p id="user_header"></p>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h1>I am struggling with...</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <table class="table table-striped" id="struggles_table">
                        <thead>
                            <th class="icon-cell"></th>
                            <th class="desc-cell"></th>
                        </thead>
                        <tbody id="struggles_table_body">
                            <!--<template id="struggles_table_body" v-for="struggle in struggles">
                                <tr>
                                    <td class="icon-cell">{{ struggle.icon }}</td>
                                    <td class="desc-cell">{{ struggle.description }}</td>
                                </tr>
                            </template>-->
                            <tr v-for="struggle in struggles">
                                <td class="icon-cell" v-html="struggle.icon"></td>
                                <td class="desc-cell">{{ struggle.name }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="btn-group-justified" role="group">
                        <div class="btn-group" role="group">
                            <button class="btn btn-primary" id="add_new_struggle_scn_btn">ADD NEW</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <h1>I am helping...</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <table class="table table-striped" id="acc_partners_table">
                        <thead>
                            <th></th>
                            <th></th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>joe@live.com</td>
                                <td>Joe Bloggs</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="btn-group-justified" role="group">
                        <div class="btn-group" role="group">
                            <button class="btn btn-primary" id="add_new_acc_partner_scn">ADD NEW</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="add_new_struggle_screen" class="hidden">
            <form action="" id="add_new_struggle_form">
                <div class="row">
                    <div class="col-xs-12">
                        <h1>Add new struggle...</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <input type="text" placeholder="e.g. addiction" class="form-control" id="new_struggle_name">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <textarea placeholder="This is worse for me when.." class="form-control" id="new_struggle_desc"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="btn-group-justified" role="group">
                            <div class="btn-group" role="group">
                                <input class="btn btn-primary" type="submit" value="ADD" id="add_new_struggle_btn">
                            </div>
                             <div class="btn-group" role="group">
                                <button class="btn btn-primary" id="cancel_add_new_struggle_btn">CANCEL</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div id="send_struggle_screen" class="hidden">
            <div class="row">
                <div class="col-xs-12">
                    <h1>Sending struggle to accountability partner...</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <p>Are you sure?</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="btn-group-justified" role="group">
                        <div class="btn-group" role="group">
                            <button class="btn btn-danger" id="send-struggle-yes">YES</button>
                        </div>
                        <div class="btn-group" role="group">
                            <button class="btn btn-primary" id="send-struggle-no">NO</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <p id="error_box"></p>
            </div>
        </div>

        <!-- library scripts -->
        <script type="text/javascript" src="cordova.js"></script>
        <script type="text/javascript" src="dist/jquery/js/jquery-1.11.1.min.js" id="cordova-jquery"></script>
        <!--<script type="text/javascript" src="dist/jquery/js/jquery-1.5.0.mobile.min.js"></script>-->
        <script type="text/javascript" src="dist/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="dist/vue-2.3.3/vue.js"></script>

        <!-- -->
        <!-- app scripts -->
        <script type="text/javascript" src="js/api.js"></script>        
        <script type="text/javascript" src="js/struggle_list.js"></script>
        <script type="text/javascript" src="js/index.js"></script>
        <!-- -->
    </body>
</html>
